# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/dist-ssr

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Supabase
supabase/.temp
supabase/.branches
supabase/.temp/
supabase/.temp.*

# Vercel
.vercel
.now
.next

# Misc
.cache
.parcel-cache
.turbo
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
bower_components

# Debug
.chrome
.vscode-debug-port.json
